:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-first-color: #2196F3;
  --back-color-head: #2F303A;
  --color-button: #ffffff;
  --background-button: #F5F4FA;
  --color-social-network: #AFB1B8;
}

.html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  width: 100vw;
  height: 100vh;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

html,
body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

h2,
h3 {
  color: var(--title-text-color);
  /*max-width:1200px;*/
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header__container {
  height: 80px;
}

.header__mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 24px;
  height: 16px;
  position: absolute;
  top: 20px;
  left: 95%;
  z-index: 2;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
  .header__mobile-network {
    display: none;
  }
}

.header__icon-close {
  display: none;
}

.header__button.is-open .header__icon-close {
  display: block;
}

.header__button.is-open .header__icon1 {
  display: none;
}

.header__mobile {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 1;
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
  .header__mobile {
    background-color: var(--color-button);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    padding-top: 48px;
  }
  .nav__tittle,
  .header__address,
  .header__mobile-network {
    padding-left: 40px;
  }
  .header__mobile.is-open {
    display: block;
  }
  .header__address {
    margin-top: 306px;
  }
  .address__list-mobile {
    margin-bottom: 32px;
  }
  .header__container {
    height: 60px;
  }
  .logo {
    padding-top: 16px;
  }
  .header__mobile-network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 64px;
    margin-right: 0;
    max-width: 480px;
  }
  .header__mobile-network-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
  }
  .header__mobile-network-list:not(:last-child) {
    margin-right: 20px;
  }
  .header__mobile-network-link {
    color: var(--logo-first-color);
  }
  .header__mobile-network-list::after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: -15%;
    width: 1px;
    height: 100%;
    background-color: var(--logo-first-color);
  }
}

/*
@media screen and (min-width:320px) and (max-width:480px) {
    .header__mobile {
        padding-left: 0;
    }
}
*/
@media screen and (max-width: 767px) {
  .nav__list {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }
  .nav__link {
    color: var(--title-text-color);
  }
  .nav__link-bottom {
    color: var(--logo-first-color);
  }
  .address__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--color-social-network);
  }
  .address__link-mobile {
    color: var(--logo-first-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }
  .header__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__address {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
    padding-left: 0;
    width: 138px;
    color: var(--title-text-color);
  }
  .header__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80px;
  }
  .nav__tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
  }
  .nav__list:not(:last-child) {
    margin-right: 50px;
  }
  .nav__list:last-child {
    margin-right: 84px;
  }
  .nav__list {
    padding-top: 26px;
  }
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
  }
  .nav__link:hover,
  .nav__link:focus {
    color: var(--logo-first-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link-bottom {
    color: var(--logo-first-color);
  }
  .nav__link-bottom::after {
    content: "";
    display: block;
    top: 100%;
    width: 100%;
    height: 4px;
    -webkit-transform: translateY(27px);
            transform: translateY(27px);
    border-radius: 2px;
    background-color: var(--logo-first-color);
  }
  .address__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .address__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .address__link:focus,
  .address__link:hover {
    color: var(--logo-first-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__icon {
    margin-right: 10px;
    fill: var(--primary-text-color);
  }
  .address__link:hover .header__icon {
    fill: var(--logo-first-color);
  }
  .address__link:focus .header__icon {
    fill: var(--logo-first-color);
  }
}

@media screen and (min-width: 1200px) {
  .header__address {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: auto;
  }
  .nav__list:last-child {
    margin-right: 306px;
  }
  .address__list:not(:last-child) {
    margin-right: 30px;
  }
  .address__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.logo {
  color: var(--logo-first-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
}

.logo__second {
  color: var(--title-text-color);
}

.footer__logo {
  color: var(--color-button);
}

@media screen and (min-width: 768px) {
  .logo {
    color: var(--logo-first-color);
    padding-top: 26px;
    margin-right: 88px;
  }
}

/*Hero*/
@media screen and (min-width: 320px) {
  .heroes {
    height: 400px;
    min-width: 320px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/Header img.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/Header img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* margin-bottom: 60px;*/
  }
}

@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .heroes {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/Header img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/Header img@2x.jpg");
  }
}

@media screen and (min-width: 320px) {
  .heroes__heading {
    color: var(--color-button);
    max-width: 360px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
  }
}

.button {
  display: block;
  color: var(--color-button);
  background-color: var(--logo-first-color);
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  margin-bottom: 118px;
}

.modal-window {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window.is-hidden .modal {
  -webkit-transform: translate(-50% -50%) scale(1.2);
          transform: translate(-50% -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--color-button);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button {
  position: fixed;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-button);
}

.modal__close-button:hover .modal__icon-close {
  fill: var(--logo-first-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__heading {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}

.form__field {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__icon {
  position: absolute;
  top: 35px;
  left: 15px;
}

.form__field:focus {
  padding-left: 40px;
  outline: none;
  border-color: var(--logo-first-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus + .form__icon {
  fill: var(--logo-first-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-policy {
  display: block;
  position: relative;
  margin-left: 52px;
  margin-right: 51px;
}

.form-policy__privat {
  display: inline-block;
  max-width: 401px;
  margin-left: 30px;
}

.form-policy__privat a {
  text-decoration: underline;
  color: var(--logo-first-color);
}

.form__text-area {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__text-area::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}

.form__text-area:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}

.form__text-area::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}

.form__text-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}

.form__text-area:focus {
  outline: none;
  border-color: var(--logo-first-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-policy__icon {
  position: absolute;
  top: 15px;
}

.form-policy__icon-hover {
  position: absolute;
  width: 0;
  height: 0;
}

.form-policy__checkbox:checked ~ .form-policy__icon-hover {
  width: 18px;
  height: 18px;
  top: 15px;
}

@media screen and (min-width: 768px) {
  .heroes {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/Header img768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/Header img768.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .heroes {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/Header img768@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/Header img768@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .heroes {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/head-of-pages (1).jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/head-of-pages (1).jpg");
    margin-bottom: 0;
  }
  .heroes__heading {
    font-size: 44px;
    line-height: 1.3636;
    max-width: 696px;
    padding-top: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .heroes {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/head-of-pages@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/head-of-pages@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

/*our subscribe*/
.fields {
  padding-top: 94px;
  padding-bottom: 94px;
}

.top-item {
  padding-bottom: 0;
}

.tittle-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
  color: var(--title-text-color);
}

.subscribe {
  padding: 0px;
  margin: 0px;
}

.subscribe__page {
  text-transform: uppercase;
}

@media screen and (min-width: 320px) {
  .subscribe__tittle {
    display: block;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .subscribe__icon {
    display: block;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .icon-container {
    background-color: var(--background-button);
    height: 95px;
    padding-top: 25px;
  }
  .tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
  }
}

@media screen and (min-width: 768px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    width: 768px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  .subscribe__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .subscribe__tittle {
    display: block;
    width: 354px;
    margin: 0;
    -ms-flex-preferred-size: calc(100%/2-30px);
        flex-basis: calc(100%/2-30px);
    margin-top: 30px;
  }
  .subscribe__tittle:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 1170px;
  }
  .subscribe__tittle {
    width: 270px;
    -ms-flex-preferred-size: calc(100%/4);
        flex-basis: calc(100%/4);
  }
  .subscribe__tittle:not(:last-child) {
    margin-right: 30px;
  }
  .subscribe__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .section__work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1170px;
    padding: 0px;
    margin: 0px;
  }
  .work-list__tittle {
    -ms-flex-preferred-size: calc(100%/3);
        flex-basis: calc(100%/3);
  }
  .work-list__tittle:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .section__work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1170px;
    padding: 0px;
    margin: 0px;
  }
  .work-list__tittle {
    -ms-flex-preferred-size: calc(100%/3);
    flex-basis: calc(100%/3);
  }
  .work-list__tittle:not(:last-child) {
    margin-right: 30px;
  }
}

/*our team*/
@media screen and (min-width: 320px) {
  .section-color {
    background-color: #F5F4FA;
  }
  .fields {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .team-tittle {
    padding: 0px;
  }
  .team-tittle__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
    color: var(--title-text-color);
  }
  .team-tittle__profession {
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0;
  }
  .team-tittle__list {
    display: block;
    max-width: 450px;
    text-align: center;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-button);
    margin-left: auto;
    margin-right: auto;
  }
  .team-tittle__img {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .social-network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 206px;
    height: 44px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-bottom: 24px;
    list-style: none;
  }
  .social-network__icon {
    fill: var(--color-social-network);
    margin-right: 5px;
    margin-left: 5px;
  }
  .social-network__icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  .social-network__icon-box:hover,
  .social-network__icon-box:focus {
    background-color: var(--logo-first-color);
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-network__icon-box:hover .social-network__icon,
  .social-network__icon-box:focus .social-network__icon {
    fill: var(--color-button);
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-network__style {
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 768px) {
  .team-tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
  .team-tittle__list {
    width: 354px;
  }
  .team-tittle__list:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team-tittle__list:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-tittle {
    width: 1170px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .team-tittle__list {
    -ms-flex-preferred-size: calc(100%/4);
        flex-basis: calc(100%/4);
  }
  .team-tittle__list:not(:last-child) {
    margin-right: 30px;
  }
  .team-tittle__list:nth-child(-n+2) {
    margin-bottom: 0;
  }
  .fields {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .top-item {
    padding-bottom: 0;
  }
}

/*regular customers*/
@media screen and (min-width: 320px) {
  .customers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 480px;
    padding: 0px;
    margin: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .customers__list:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .customers__list:nth-child(-n+4) {
    margin-bottom: 30px;
  }
  /*.customers__list:not(:last-child) {
    margin-bottom: 30px;*/
  .customers__permanent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #eeeeee;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 4px;
    width: 120px;
    height: 92px;
  }
  .customers__icon {
    fill: var(--color-social-network);
  }
  .customers__permanent:hover,
  .customers__permanent:focus {
    border: 1px solid var(--logo-first-color);
    border-radius: 4px;
  }
  .customers__permanent:hover .customers__icon,
  .customers__permanent:focus .customers__icon {
    fill: var(--logo-first-color);
  }
}

@media screen and (min-width: 420px) {
  .customers {
    margin-left: auto;
    margin-right: auto;
  }
  .customers__list:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .customers__list:nth-child(-n+4) {
    margin-bottom: 30px;
  }
  .customers__permanent {
    width: 165px;
  }
}

@media screen and (min-width: 480px) {
  .customers__permanent {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .customers {
    max-width: 768px;
  }
  .customers__permanent {
    width: 226px;
  }
  .customers__list:not(:nth-child(2n)) {
    margin-right: 0;
  }
  .customers .customers__list {
    margin-bottom: 0;
  }
  .customers__list:nth-child(-n+3) {
    margin-bottom: 30px;
  }
  .customers__list:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    max-width: 1200px;
  }
  .customers__permanent {
    width: 170px;
  }
  .customers__list:not(:last-child) {
    margin-right: 30px;
  }
}

/*footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer__location {
  color: var(--color-button);
  margin-top: 20px;
}

.footer__tittle {
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer__address {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.footer__list {
  margin-top: 9px;
}

.footer__link {
  color: var(--primary-text-color);
}

.footer__link:focus,
.footer__link:hover {
  color: var(--logo-first-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__page {
  color: var(--color-button);
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.footer__social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 206px;
  height: 44px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.footer__icon {
  fill: var(--color-button);
  margin-right: 5px;
  margin-left: 5px;
}

.footer__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer__icon-box:hover,
.footer__icon-box:focus {
  background-color: var(--logo-first-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon-box:hover .footer__icon,
.footer__icon-box:focus .footer__icon {
  fill: var(--color-button);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__network-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
}

.footer__email-page {
  display: block;
  width: 220px;
  color: var(--color-button);
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  margin-left: 20px;
}

.footer__form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__input {
  width: 90%;
  height: 50px;
  /*margin-right: 12px;*/
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  border-radius: 4px;
  margin-bottom: 20px;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-button);
  background-color: var(--logo-first-color);
  width: 200px;
  height: 50px;
  padding: 0;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.footer__icon-telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__email {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-tablet {
    margin-right: 0;
  }
  .footer__style:not(:last-child) {
    margin-right: 165px;
  }
  .footer__tablet a {
    margin-right: 0;
  }
  .footer__email-page {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__style {
    text-align: left;
  }
  .footer__style .logo {
    padding-top: 0%;
  }
  .footer__style:not(:last-child) {
    margin-right: 70px;
  }
  .footer__location {
    width: 231px;
  }
  .footer__tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
  }
  .footer__page {
    display: block;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 20px;
  }
  .footer__address {
    margin: 0;
  }
  .footer__email-page {
    padding-top: 10px;
    margin-bottom: 20px;
  }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__email label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__email-page {
    margin-left: 0;
  }
  .footer__email {
    margin-left: 93px;
  }
  .footer__input {
    width: 358px;
  }
}

/*portfolio button*/
@media screen and (min-width: 320px) {
  .portfolio__tittle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px;
    margin-bottom: 50px;
    width: 362px;
    /*margin-left: auto;*/
  }
  .container__button {
    max-width: 450px;
  }
  .portfolio__list-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .portfolio__list-button:not(:last-child) {
    margin-right: 8px;
  }
  .portfolio__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--title-text-color);
    background-color: var(--background-button);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
  }
  .portfolio__button:hover,
  .portfolio__button:focus {
    color: var(--color-button);
    background-color: var(--logo-first-color);
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio__list-button:nth-child(3) {
    margin-right: 0;
  }
  .portfolio__list-button:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__tittle-button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container__button {
    max-width: 768px;
  }
}

.portfolio {
  display: block;
  padding-top: 60px;
  padding-bottom: 94px;
}

.portfolio__tittle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  text-align: left;
  margin: 0;
  padding-top: 20px;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  text-align: left;
  margin: 0;
  padding-bottom: 20px;
}

.portfolio__projects-list {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.portfolio__projects-items {
  display: block;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio__projects-items:hover,
.portfolio__projects-items:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__projects-items:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio__border {
  max-width: 450px;
  border: 1px solid #EEEEEE;
  /*margin-left: auto;
    margin-right: auto;*/
  padding-left: 24px;
}

.portfolio__card {
  position: relative;
  overflow: hidden;
}

.portfolio__card::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__card:hover .portfolio__card-back {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__card-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card-text {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 0;
  color: #FFFFFF;
}

.portfolio__card-image {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .portfolio__card-text {
    padding: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio__projects-items {
    display: block;
    max-width: 354px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -ms-flex-preferred-size: calc(100%/2-30px);
        flex-basis: calc(100%/2-30px);
    text-align: center;
  }
  .portfolio__projects-items-tablet {
    margin-left: 0;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__projects-list {
    max-width: 1200px;
  }
  .portfolio__projects-items {
    max-width: 370px;
  }
}
/*# sourceMappingURL=main.css.map */