.header__container {
    height: 80px;
}
.header__mobile-nav {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: space-between;
}

.header__button {
    display: inline-flex;
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 24px;
    height: 16px;
    position: absolute;
    top: 20px;
    left: 95%;
    z-index: 2;
}
.header{
     border-bottom: 1px solid #ECECEC;
}
@media screen and (min-width: 768px) {
    .header__button {
        display: none;
    }

    .header__mobile-network {
        display: none;
    }
}
.header__icon-close {
    display: none;
}

.header__button.is-open .header__icon-close {
    display: block;
}

.header__button.is-open .header__icon1 {
    display: none;
}

.header__mobile {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 1;
     overflow-x: hidden;
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 480px;
        margin-right: auto;
        margin-left: auto;
    }

    .header__mobile {
        background-color: var(--color-button);
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 200vh;
        padding-top: 48px;
    }
    .nav__tittle,
    .header__address,
    .header__mobile-network {
        padding-left: 40px;
    }
    .header__mobile.is-open {
        display: block;
    }

    .header__address {
        margin-top: 306px;
    }

    .address__list-mobile {
        margin-bottom: 32px;
    }

    .header__container {
        height: 60px;
    }

    .logo {
        padding-top: 16px;
    }

    .header__mobile-network {
        display: flex;
        margin-top: 64px;
        margin-right: 0;
        max-width: 480px;
    }

    .header__mobile-network-list {
        display: flex;
        position: relative;

        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.02em;
    }

    .header__mobile-network-list:not(:last-child) {
        margin-right: 20px;
    }

    .header__mobile-network-link {
        color: var(--logo-first-color);
    }

    .header__mobile-network-list::after {
        content: "";
        display: flex;
        position: absolute;
        top: 0;
        right: -15%;
        width: 1px;
        height: 100%;
        background-color: var(--logo-first-color);
    }
}
/*
@media screen and (min-width:320px) and (max-width:480px) {
    .header__mobile {
        padding-left: 0;
    }
}
*/
@media screen and (max-width:767px) {
    .nav__list {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        margin-bottom: 32px;
    }

    .nav__link {
        color: var(--title-text-color);
    }

    .nav__link-bottom {
        color: var(--logo-first-color);
    }
    .address__link {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;

        color: var(--color-social-network);
    }

    .address__link-mobile {
        color: var(--logo-first-color);
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;

    }

    .header__icon {
        display: none;
    }

}

@media screen and (min-width:768px) {
    .header__address {
        display: inline-flex;
        flex-wrap: wrap;
        margin-left: auto;
        padding-left: 0;
        width: 138px;
        color: var(--title-text-color);
    }

    .header__icon {
        display: flex;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        height: 80px;

    }

    .nav__tittle {
        display: flex;
        padding-left: 0;
    }

    .nav__list:not(:last-child) {
        margin-right: 50px;
    }

    .nav__list:last-child {
        margin-right: 84px;
    }

    .nav__list {
        padding-top: 26px;
    }

    .nav__link {
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--title-text-color);
    }

    .nav__link:hover,
    .nav__link:focus {
        color: var(--logo-first-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav__link-bottom {
        color: var(--logo-first-color);
    }
    .nav__link-bottom::after {
        content: "";
        display: block;
        top: 100%;
        width: 100%;
        height: 4px;
        transform: translateY(27px);
        border-radius: 2px;
        background-color: var(--logo-first-color);
    }
    .address__list {
        display: inline-flex;
    }
    .address__link {
        display: inline-flex;
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        justify-content: center;
        align-items: center;
    }

    .address__link:focus,
    .address__link:hover {
        color: var(--logo-first-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header__icon {
        margin-right: 10px;
        fill: var(--primary-text-color);
    }

    .address__link:hover .header__icon {
        fill: var(--logo-first-color);
    }

    .address__link:focus .header__icon {
        fill: var(--logo-first-color);
    }
}
@media screen and (min-width:1200px) {
    .header__address {
        flex-wrap: nowrap;
        width: auto;
    }

    .nav__list:last-child {
        margin-right: 306px;
    }

    .address__list:not(:last-child) {
        margin-right: 30px;
    }

    .address__link {
        font-size: 14px;
        line-height: 1.14;
    }
}