.logo {
    color: var(--logo-first-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;

}

.logo__second {
    color: var(--title-text-color);
}

.footer__logo {
    color: var(--color-button);
}
@media screen and (min-width:768px){
    .logo {
        color: var(--logo-first-color);
        padding-top: 26px;
        margin-right: 88px;
    }
}